body {
  background-color: rgb(73, 69, 76);
  height: 100vh;
}

.textMain {
  color: rgb(44, 45, 48);
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.text {
  color: rgb(44, 41, 41);
  font-size: 14px;
  font-weight: 600;
  margin: 10px 20px;
}

.btnRandom {
  padding: 10px;
  border: 1px solid red;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 16px;
  background-color: rgb(3, 73, 73);

  &:active {
    outline: 3px solid rgba(23, 23, 23, 0.681);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
  }
}

.container {
  margin: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  background-color: rgba(21, 226, 42, 0.883);
  border-radius: 10px;


  &:hover {
    outline: 1px solid red;
    box-shadow: 0 0 50px rgba(17, 17, 17, 0.5);
  }
}